* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header, .main-visual, .portfolio, .feature, .profile, .contact, footer {
	font-family: 'Avenir', 'Microsoft Sans Serif','DIN Alternate',sans-serif;
}

header {
	background-color: #EC715F;
	width: 100%;
	height: 70px;
}

nav {
	width: 1024px;
	height: 100%;
	margin: auto;
}

.head-logo {
	height: 100%;
}

.nav-list {
	font-size: 16px;
	float: right;
	line-height: 70px;
}

.navi-list-item {
	margin: 0 30px;
	list-style: none;
	display: inline-block;
	color: #FAFAFA;
}

.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}

.main-visual-content {
	padding-top: 200px;
}

.main-visual-name {
	font-size: 64px;
	color: #FAFAFA;
	text-align: center;
}

.main-visual-text {
	font-size: 20px;
	color: #FAFAFA;
	text-align: center;
	padding-top: 10px;
}

.portfolio {
	background-color: #ECEFF1;
	width: 100%;
	/*height: 871px;*/
	padding-bottom: 90px;
}

.portfolio-box {
	width: 920px;
	/*height: 100%;*/
	margin: auto;
}

.portfolio-name {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	text-align: center;
}

.border {
	width: 70px;
	height: 3px;
	background-color: #EC715F;
	margin: 8px auto 0;
	border-radius: 3px;
}

.text {
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
	text-align: center;
}

.portfolio-image-box {
	width: 920px;
	/*height: 600px;*/
	margin: auto;
}

.portfolio-image-top{
	width: 920px;
	height: 260px;
	margin: auto;
	padding-bottom: 10px;
}

.portfolio-image-1 {
	background-image: url(img/sketch.jpg);
}

.portfolio-image-2 {
	background-image: url(img/websuku.png);
	margin: 0 10px;
}

.portfolio-image-3 {
	background-image: url(img/write.jpg);
}

.portfolio-image-bottom{
	width: 920px;
	height: 250px;
	margin: auto;
}

.portfolio-image-4 {
	background-image: url(img/webcamp.png);
}

.portfolio-image-5 {
	background-image: url(img/talk.jpg);
	margin: 0 10px;
}

.portfolio-image-6 {
	background-image: url(img/webcamp-mother.png);
}

.image-size{
	width: 300px;
    height: 250px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	float: left;
}

.feature {
	width: 100%;
	/*height: 671px;*/
	padding-bottom: 90px;
}

.feature-box {
    width: 980px;
	/*height: 100%;*/
	margin: auto;
}

.feature-name {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	text-align: center;
}

.feature-strength-box {
	width: 980px;
	/*height: 400px;*/
	margin: auto;
}

.feature-strength{
	width: 320px;
	/*height: 100%;*/
	display: inline-block;
	float: left;
	text-align: center;
}

.feature-strength2{
	width: 320px;
	/*height: 100%;*/
	display: inline-block;
	float: left;
	text-align: center;
	margin: 0 10px;
}

.fa-star, .fa-music, .fa-heartbeat{
	font-size: 60px;
	/*padding-top: 10px;*/
	margin-top: 10px;
}

.strength-name {
	font-size: 20px;
	color: #000000;
	padding: 10px 0;
}

.strength-text {
	font-size: 16px;
	color: #000000;
	text-align: left;
}

.profile {
	background-color: #ECEFF1;
	width: 100%;
	/*height: 671px;*/
	padding-bottom: 90px;
}

.profile-box {
	width: 1024px;
	/*height: 100%;*/
	margin: auto;
}

.profile-name {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	text-align: center;
}

.profile-content {
	width: 1024px;
	/*height: 400px;*/
	margin: auto;
}

.profile-content-image-text1 {
	width: 512px;
	/*height: 100%;*/
	display: inline-block;
	float: left;
	text-align: center;
	/*margin-top: 30px;*/
}

.profile-content-image-text2 {
	width: 512px;
	/*height: 100%;*/
	display: inline-block;
	float: left;
	text-align: center;
	/*margin-top: 30px;*/
}

.profile-image {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	text-align: center;
}
.profile-text-name {
	font-size: 20px;
	color: #000000;
	text-align: left;
	padding-bottom: 5px;
}

.profile-text {
	font-size: 16px;
	color: #000000;
	padding-bottom: 8px;
	text-align: left;
}

.profile-text1 {
	font-size: 16px;
	color: #000000;
	text-align: left;
}

.contact {
	/*width: 100%;*/
	/*height: 489px;*/
	padding-bottom: 90px;
}

.contact-box {
    width: 515px;
	/*height: 452px;*/
	margin: auto;
}

.contact-name {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	text-align: center;
}

.contact-text {
	font-size: 16px;
	width: 750px;
    color: #000000;
    padding: 30px 0;
    text-align: center;
    margin-left: -22%;
}

.contact-content-box {
	width: 515px;
	height: 110px;
}

.contact-content1 {
	width: 240px;
	/*height: 100%;*/
	display: inline-block;
	float: left;
	text-align: left;
	padding-left: 35px;
}

.contact-content2 {
	width: 275px;
	/*height: 100%;*/
	display: inline-block;
	/*float: left;*/
	/*text-align: left;*/
	padding-left: 105px;
}

.contact-content-name{
	font-size: 20px;
	color: #000000;
	text-align: left;
	padding-bottom: 5px;
}

.contact-content-text {
	font-size: 16px;
	color: #000000;
	padding-bottom: 20px;
	text-align: left;
	text-decoration: underline;
}

.contact-content-text1 {
	font-size: 16px;
	color: #000000;
	text-align: left;
	text-decoration: underline;
}

.contact-content2 i {
	font-size: 50px;
}

.fa-twitter {
	padding: 0 20px;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #EC715F;
  line-height: 60px;
}

.footer-text {
	font-size: 16px;
	color: #fafafa;
}

@media screen and (max-width: 767px) {
.font {
	font-family: 'Didot','Charter','Cochin',sans-serif;
}
header {
	width: 100%;
	height: 50px;
}
nav {
	width: 90%;
    margin: 0 auto;
}

.head-logo {
	height: 100%;
}

.nav-list {
	display: none;
}

.main-visual {
	width: 100%;
	height: 750px;
	background-image: url(img/code.png);
}

.main-visual-name {
	font-size: 40px;
	margin: 0 auto;
}

.main-visual-text {
	font-size: 18px;
	margin: 0 auto;
}

.portfolio {
	background-color: #ECEFF1;
	width: 100%;
	/*height: 1145px;*/
	padding-bottom: 90px;
}

.portfolio-box {
	width: 100%;
	/*height: 1145px;*/
}

.portfolio-image-box {
	width: 100%;
	/*height: 860px;*/
	padding-bottom: 0px;
}

.portfolio-image-top{
	width: 300px;
	height: 260px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.portfolio-image-bottom{
	width: 300px;
	/*height: 600px;*/
	margin: 0 auto;
}

.portfolio-image-1, .portfolio-image-3, .portfolio-image-5 {
	display: none;
}

.portfolio-image-2 {
	margin: 0 auto;
}

.portfolio-image-4 {
	margin-bottom: 10px;
}

.portfolio-image-6 {
	margin: 0 auto;
}

/*.image-size{*/
	/*float: none;*/
/*}*/

.feature {
	width: 100%;
	/*height: 1288px;*/
	height: 100%;
}

.feature-box {
    width: 90%;
	/*height: 1288px;*/
}

.feature-strength-box {
	width: 90%;
	/*height: 1002px;*/
	height:100%;
	text-align: center;
	margin: 0 auto;
}

.feature-strength {
	height: 300px;
	float: none;
	display: inline;
}

.feature-strength2 {
	height: 300px;
	float: none;
	margin: 10px 0;
	display: inline;
	margin: 0 auto;
}

.profile {
	width: 100%;
	/*height: 1031px;*/
}

.profile-box {
	width: 90%;
	/*height: 904%;*/
	margin: 0 auto;
}

.profile-content {
	width: 90%;
	/*height: 618px;*/
	margin: 0 auto;
}

.profile-content-image-text1 {
	width: 90%;
	height: 250px;
	float: none;
	margin: 0 auto;
	display: block;
}

.profile-content-image-text2 {
	width: 100%;
	height: 242px;
	float: none;
	margin-top: 0px;
    margin: 0 auto;
}

.profile-text-name {
	padding-bottom: 0;
	margin: 20px 0 5px;
	text-align: center;
}

.profile-text {
	padding-bottom: 0;
	text-align: center;
	margin: 0 auto;
}

.profile-text1 {
	padding-bottom: 0;
	text-align: center;
	margin: 0 auto;
}

.contact {
	width: 100%;
	/*height: 588px;*/
}

.contact-box {
    width: 90%;
	/*height: 588px;*/
	margin: 0 auto;
}

.contact-text {
	width: 100%;
    margin-left: 0%;
    margin: 0 auto;
}

.contact-content-box {
	width: 100%;
	height: 218px;
}

.contact-content1 {
	width: 100%;
	height: 130px;
	float: none;
	text-align: center;
	padding-right: 35px;
}

.contact-content2 {
	width: 100%;
	height: 77px;
	float: none;
	text-align: center;
	padding: 20px 105px 0;
}

.contact-content-name{
	font-size: 20px;
	color: #000000;
	text-align: center;
	padding-bottom: 5px;
}

.contact-content-text {
	font-size: 16px;
	color: #000000;
	padding-bottom: 20px;
	text-align: center;
}

.contact-content-text1 {
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding-bottom: 20px;
}

.contact-content2 i {
	font-size: 50px;
}

.fa-twitter {
	padding: 0 8px;
}

footer {
  width: 100%;
}

#humberger {
    display: inline-block;
    height: 46px;
    width: 48px;
    float: right;
    padding: 3px 1px;
    background-color: #EC715F;
    border: 2px solid #FFF;
    margin-top: 2px;
    }
#humberger div {
    height: 4px;
    width: 32px;
    background-color:#FFF;
    margin: 3.5px 5.5px;
    border-radius: 2px;
    float: right;
    }

}
